@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor_de_fundo: rgba(193, 255, 114, 1);
    --cor_do_con-prin: rgba(208, 255, 148, 1);
    --cor_do_botao: rgba(193, 255, 114, 1);
    --cor_do_botao_hover: rgba(80, 180, 80, 1);
    --cor_do_texto: rgba(78, 199, 78, 1);
}

body {
    background-color: var(--cor_de_fundo);
    height: 150vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor_do_con-prin);
    padding: 2% 0%;
    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h2 {
            font-size: 30px;
            font-family: 'Inknut Antiqua', serif;
            margin-left: 20px;
            color: var(--cor_do_texto);
        }
        img {
            height: 80px;
            width: 80px;
        }
        #imagemUsuario {
            border-radius: 50%;
        }
    }
    .paginas {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 14px;
            font-family: 'Inknut Antiqua', serif;
            margin-left: 50px;
        }
        a {
            text-decoration: none;
            color: var(--cor_do_texto);
        }
    }
    .conta_usuario {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 30px;
        .imagemUsuario {
            height: 80px;
            width: 80px;
        }
        .nomeUsuario {
            font-size: 10px;
        }
    }
}

.lista_tarefas {
    margin: 30px;
    padding: 20px;
    h1 {
        align-content: center;
        text-align: center;
        font-size: 48px;
        font-family: 'Bebas Neue', serif;
        background-color: #7ED957;
        height: 84px;
        margin-bottom: 40px;
    }
    img {
        height: 90px;
        width: 90px;
    }
    .novaTarefaContainer {
        display: flex;
        justify-content: start;
        margin-bottom: 20px;
    }
    .btnAdicionarTarefa {
        height: 386px;
        width: 273px;
        align-items: center;
        background-color: #7ED957;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }
    .btnAdicionarTarefa:hover {
        background-color: #69df6f;
    }
    .cardTarefa {
        background-color: rgba(208, 255, 148, 1); 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        text-align: left;
    }
    .cardTarefa img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    #formTarefa {
        background-color: #a6bc86; 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 100%;
        position: relative;
        animation: aparecer 0.3s ease; 
    }

    #formTarefa input, #formTarefa textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 8px;
        border: 1px solid #e7f6d0;
    }

    @keyframes aparecer {
        from {
            opacity: 0; 
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }   

    #fecharModal {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #e7f6d0;
        color: #43493a;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-size: 12px;
    }
    
    .btnSubmit {
        background-color: #e7f6d0;
        color: #43493a;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    #formTarefa button:hover {
        color: white;
        background-color: #43493a;
    }

}