@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor_de_fundo: rgba(193, 255, 114, 1);
    --cor_do_con-prin: rgba(208, 255, 148, 1);
    --cor_do_botao: rgba(193, 255, 114, 1);
    --cor_do_botao_hover: rgba(80, 180, 80, 1);
    --cor_do_texto: rgba(78, 199, 78, 1);
}

body {
    background-color: var(--cor_de_fundo);
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.conteudo_principal {
    background-color: var(--cor_do_con-prin);
    height: 570px;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.titulo_logo {
    display: flex;
    align-items: center;
    padding: 14px;
}

.titulo_logo img {
    height: 100px;
    width: 100px;
}

.titulo_logo h2 {
    align-items: center;
    margin-left: 80px;
    font-size: 40px;
    font-family: 'Inknut Antiqua', serif;
    color: var(--cor_do_texto);
}

.cadastro_login {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: black;
    }
    h1 {
        align-self: center;
        font-size: 2.9em;
        font-family: 'Inknut Antiqua', sans-serif;
        color: var(--cor_do_texto);
    }
    button {
        align-self: center;
        background-color: var(--cor_do_botao);
        margin-top: 6vh;
        border: none;
        border-radius: 50px;
        height: 12vh;
        width: 27vw;
        font-size: 1.7em;
        font-family: 'Inknut Antiqua', sans-serif;
    }
}